.player-container {
    display: flex;
    justify-content: space-evenly;
    margin-right: 10px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-left: 100px;
    border-bottom: 1px solid lightgray;
}
.player-image {
    margin-right: 10px;
    padding-right: 10px;
}
.player-information {
    width: 70%;
}
.add-button {
    height: 40px;
    width: 150px;
    background-color: goldenrod;
    border: 1px solid lightslategray;
    border-radius: 5px;
    cursor: pointer;
}